.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2757px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 433px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 60px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 433px;
  background-image: url("images/10679514_1076046482439726_1713472284024707681_o.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 5px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/sed_columns.png");
  min-height: 412px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 412px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 686px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 61px 245px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 686px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  object-position: 4.36% 0%;
  height: 367px;
  width: 498px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: -310px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  min-height: 278px;
  background-image: url("images/54e5dd434254ab14f6da8c7dda793678153bdee757596c48732f78dd9e49cc50ba_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 278px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 61px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1140px;
  margin: 2px auto 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 358px;
}

.u-section-1 .u-container-layout-9 {
  padding: 5px 30px 28px;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  min-height: 358px;
  background-image: url("images/bobpaz.com0013.JPG");
  background-position: 0% 23.33%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-6 {
  margin: 1px -176px 5px auto;
}

.u-section-1 .u-image-6 {
  min-height: 400px;
  background-image: url("images/cSOHjNjv_400x400.jpg");
  background-position: 50% 26.86%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 12px;
}

.u-section-1 .u-text-11 {
  margin: 0 315px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1684px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    min-height: 333px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 487px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 562px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 68px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 439px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -9px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 439px;
  }

  .u-section-1 .u-image-3 {
    height: 346px;
    width: 470px;
  }

  .u-section-1 .u-image-4 {
    min-height: 264px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 264px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -9px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 295px;
  }

  .u-section-1 .u-text-10 {
    margin-right: -9px;
  }

  .u-section-1 .u-image-5 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 330px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-image-1 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 612px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 50px;
    margin-left: -18px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -7px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 265px;
    width: 360px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 20px;
    position: relative;
  }

  .u-section-1 .u-image-4 {
    min-height: 175px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -7px;
  }

  .u-section-1 .u-layout-wrap-5 {
    position: relative;
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: -7px;
  }

  .u-section-1 .u-image-5 {
    min-height: 226px;
    background-position: 36.7% 23.33%;
  }

  .u-section-1 .u-layout-wrap-6 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2249px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2249px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-image-1 {
    min-height: 410px;
    background-position: 50% 13.05%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 263px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -12px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: -12px;
  }

  .u-section-1 .u-image-5 {
    min-height: 339px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1682px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: -7px;
  }

  .u-section-1 .u-image-3 {
    height: 250px;
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    min-height: 166px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -7px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    margin-right: -7px;
  }

  .u-section-1 .u-image-5 {
    min-height: 213px;
  }

  .u-section-1 .u-image-6 {
    min-height: 239px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: -7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 184px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 30px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}